<!-- <div class="footer-bottom-area">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <div class="copyright">
        <p>&copy; 2017 Ezicargo Sdn Bhd. All Rights Reserved</a></p>
      </div>
    </div>
  </div>
</div> -->
