<div class="footer-bottom-area">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <div class="copyright">
        <p>Ezicargo Sdn Bhd. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
