<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>&copy; 2016 Ezicargo Sdn Bhd. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by Greyhat Technology PLT </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
