<div id="header">
  <%= render partial: 'partials/header' %>
</div>

<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
      </div>
      <div class="panel-body" >
      <h1 class="text-center">Announcement</h1>
      <h3>New registration is closed for the moment!</h3>
      </div>
    </div>
  </div>
</div>

<script>
$.validate({
  modules : 'sanitize, html5, security'
});


swal({
	title: '<span style="color:#db280d">Warning</span>',
	html: "Ezicargo registration are ONLY available to RICH members. If you are not a RICH member please learn more about RICH by visiting <a href='http://www.rahsiaimportchina.com' target='_blank'><span style='color:#db280d'>rahsiaimportchina.com</span></a> before proceeding with us. No REFUND will be granted  after the registration with Ezicargo.",
  width: 600,
  padding: 100,
	type: "warning",
	confirmButtonText: "Understood"});
</script>
