<div id="header">
  <%= render partial: 'partials/header' %>
</div>

<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="#">Sign In</a></div>
      </div>
      <div class="panel-body" >
        <%= form_for(@user, url: {action: "create"}, method: :post, html: {id: "form-validation", class: "form-horizontal"} ) do %>

        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>



        <div class="form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-9">
            <input id="validation-email" class="form-control" placeholder="Email" name="user[email]" type="text" required="required" data-validation="email,server" data-validation-url="/checkemail">
          </div>
        </div>

        <div class="form-group">
          <label for="fullname" class="col-md-3 control-label">Full Name</label>
          <div class="col-md-9">
            <input id="validation-fullname" type="text" class="form-control" placeholder="Full Name" name="user[fullname]" required="required" data-validation="custom" data-validation-regexp="^[a-zA-Z ]{5,40}$" data-validation-error-msg="Only letters and space are allowed between 5 to 40 characters">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="passwd_confirmation" placeholder="Password" required="required" data-validation="length,alphanumeric" data-validation-length="6-20">
          </div>
        </div>
        <div class="form-group">
          <label for="password2" class="col-md-3 control-label">Repeat Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="user[passwd]" placeholder="Repeat Password" required="required" data-validation="confirmation,length,alphanumeric" data-validation-length="6-20" data-validation-confirm="passwd_confirmation">
          </div>
        </div>
        <div class="form-group">
          <!-- Button -->
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">Sign Up</button>
          </div>
        </div>

        <% end %>
      </div>
    </div>




  </div>
</div>

<script>
$.validate({
  modules : 'sanitize, html5, security'
});

swal({
	title: "Warning",
	text: "EZICARGO system is only applicable for RICH member only. If you are not a RICH member please make sure you register for RICH first before proceed on registering with us. You are prompt to pay a yearly fee of RM150.00 to use the EZICARGO system.",
	type: "warning",
	confirmButtonText: "Understood"});
</script>
