<div id="header">
  <%= render partial: 'partials/header' %>
</div>

<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
      </div>
      <div class="panel-body" align="center">
        <p>Close for new registration, for the moment.</p>
      </div>
    </div>
  </div>
</div>
