/*
*= require rs-settings
*/

.news-header .tp-tab-title{color:#eeee22;  font-size:17px;  font-weight:900;  text-transform:uppercase;  font-family:"Roboto"  margin-bottom:5px;  width:350px;  display:block;  letter-spacing:1px}