<br>
<div id="wrapper">
  <div id="page-wrapper">
    <br>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-rss"></i> Users Activities
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-rss fa-fw"></i> User Activities</h3>
          </div>
          <div class="panel-body">
            <div class = "parcels">
              <% if @activities.empty? %>
              <h3 class="text-center">There are no activities available</h3>
              <%else%>
              <div>
                    <% @activities.each do |activity| %>
                        <%= render_activity activity %>
                    <%end%>
                    <% end%>
                <nav>
                <%= paginate @activities %>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
